:root {
  --color-orange: #ff5000;
  --color-text: #262626;
  --color-line: #4a4a4a;
  --bg-color: #E0E0E0;
  --main-font-family: 'Roboto', sans-serif;
  --font-title: 24px;
  --font-weigth-title: 700;
  --font-subtitle: 18px;
  --font-weigth-subtitle: 500;
  --font-general: 16px;
  --font-weigth-general: 400;
}

* {
  color: var(--color-text);
  font-family: var(--main-font-family);
  text-transform: none;
}

/* Estilos generales */
.font-general {
  font-size: var(--font-general);
  font-weight: var(--font-weigth-general);
}

.subtitle-styles {
  font-size: var(--font-subtitle);
  font-weight: var(--font-weigth-subtitle);
}

.title-styles {
  font-size: var(--font-title);
  font-weight: var(--font-weigth-title);
}

.bg-orange {
  background-color: var(--color-orange);
}


/* Estilos de Navegador */
.nav-bg {
  background-color: var(--color-text);
}

.nav-text {
  font-size: var(--font-subtitle)!important;
  font-weight: var(--font-weigth-general)!important;
}

/* Estilos tarjetas */
.underline {
  text-decoration: underline;
}
.outline{
  outline: rgb(221, 20, 20) 1px solid;
}
.line-card {
  background-color:  var( --color-orange);
  height: 1px;
  border:none;
}
.path {
  fill:#ff5000;;
}