:root {
  --color-orange: #ff5000;
  --color-dark: #262626;
  --color-dark-gray: #4a4a4a;
  --color-gray: #E0E0E0;
  --main-font-family: 'Roboto', sans-serif;
  --font-title: 24px;
  --font-weigth-title: 700;
  --font-subtitle: 18px;
  --font-weigth-subtitle: 500;
  --font-general: 16px;
  --font-weigth-general: 400;
}

* {
  color: var(--color-dark);
  font-family: var(--main-font-family);
  text-transform: none;
}

/* Estilos generales */
.font-general {
  font-size: var(--font-general);
  font-weight: var(--font-weigth-general);
}

.subtitle-styles {
  font-size: var(--font-subtitle);
  font-weight: var(--font-weigth-subtitle);
}

.title-styles {
  font-size: var(--font-title);
  font-weight: var(--font-weigth-title);
}

.bg-orange {
  background-color: var(--color-orange);
}
.bg-gray {
  background-color: var(--color-gray);
 }

 .text-orange{
  color:var( --color-orange);
}

/* Estilos de Navegador */
.nav-bg {
  background-color: var(--color-text);
}

.nav-text {
  font-size: var(--font-subtitle)!important;
  font-weight: var(--font-weigth-general)!important;
}

/* Estilos tarjetas */
.underline {
  text-decoration: underline;
}


.line-card {
  background-color:  var( --color-orange);
  height: 1px;
  border:none;
}

.line-heigth {
  line-height: 1.7;
}